---
import Layout from "../layouts/Layout.astro";
import Banner from "@components/Banner.astro";
import Works from "@components/Works.astro";
import Contact from "@components/Contact.astro";
---

<Layout title="Diseño de páginas web para tu negocio">
  <main>
    <Banner id="home"/>
    <Works id="works" />
    <Contact id="contact"/>
  </main>
</Layout>
