<a
  class="text-primary-dark dark:text-havelock-blue-100 bg-havelock-blue-400/60 hover:bg-havelock-blue-400 dark:hover:bg-havelock-blue-900 focus:outline-none font-medium rounded-full text-base px-5 py-2.5 text-center dark:bg-havelock-blue-900/80 hover:cursor-pointer"
  {...Astro.props}
>
  <slot />
</a>
