---
import Carousel from "@components/Carousel.astro";
import Button from "@components/Button.astro";
interface Props {
  imgs: string[];
  title: string;
  link: string;
}
const { imgs, link, title } = Astro.props;
---

<article
  class="flex flex-col w-full bg-havelock-blue-100 dark:bg-primary-dark border border-havelock-blue-300/80 rounded-lg shadow dark:border-havelock-blue-700/20"
>
  <Carousel images={imgs} class="m-4 rounded-lg" />
  <header
    class="flex items-center justify-between px-5 py-4 text-primary-dark dark:text-havelock-blue-100"
  >
    <h5 class="text-balance text-2xl font-bold tracking-tight">
      {title}
    </h5>
    <Button href={link} rel="noopener noreferrer" target="_blank"
      >Visita la página</Button
    >
  </header>
</article>
