---
interface Props {
  images: string[];
  class?: string;
}
const { images, class: className } = Astro.props;
---

<div class=`flex overflow-hidden ${className}`>
  {
    images.map((img) => (
      <img
        src={img}
        alt="Application image"
        class="w-full object-cover slider"
      />
    ))
  }
  {
    images.map((img) => (
      <img
        src={img}
        alt="Application image"
        class="w-full object-cover slider"
      />
    ))
  }
</div>
<style>
  .slider {
    animation: scroll 20s linear infinite;
  }
  @keyframes scroll {
    from {
      transform: translateX(0);
    }
    to {
      transform: translateX(calc(-100% * 4));
    }
  }
</style>
