---
import Navbar from "@components/Navbar.astro";
import Footer from "@components/Footer.astro";

interface Props {
  title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta
      name="Diseño de páginas web 100% personalizadas para tu negocio o emprendimiento"
      content="Astro description"
    />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
  </head>
  <body>
    <div class="fixed inset-0 -z-10 h-full w-full items-center px-5 py-24 [background:radial-gradient(125%_125%_at_50%_10%,#ccdcf1_40%,#7fa8db_100%)] dark:[background:radial-gradient(125%_125%_at_50%_10%,#0e0e11_40%,#4360b2_100%)]"></div>
    <Navbar />
    <slot />
    <Footer />
  </body>
</html>
<style is:global>
  html {
    scroll-behavior: smooth;
    scrollbar-width: none;
  }
  ::-webkit-scrollbar {
    width: 8px;
    height: 8px;
  }

  ::-webkit-scrollbar-track {
    background: rgba(0, 0, 0, 0.15);
  }

  ::-webkit-scrollbar-thumb {
    @apply bg-neutral-500;
  }
  @media (prefers-reduced-motion) {
    * {
      animation: none;
    }
    html {
      scroll-behavior: auto;
    }
  }
</style>
